{% extends 'AppCoder/index.html' %}

{% block titulo %}
<h1 class="mb-5">Horario</h1>
{% endblock titulo %}

<form action= "{% url 'encontrarhorario' %}" method= "get">
    {% csrf_token %}
    <table>
        <p>Ingrese un patron de busqueda<input type= "text" name="buscar" id="buscar"></p>
    </table >
    <input type= "submit" value="Buscar">

{% block contenido %}


<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>horario</th>
        </tr>
    </thead>
    <tbody>
    {% for c in horario %}
        <tr>
            <td>{{c.id}}</td>
            <td>{{c.horario}}</td>
            
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock contenido %}