{% extends 'AppCoder/index.html' %}

{% block titulo %}
<h1 class="mb-5">Surf</h1>
{% endblock titulo %}


{% block contenido %}

<table>
    <tr>
        <td width = "200"><h2>Surf</h2></td>
        <td>
            <a
            href = "{% url 'surfCreate' %}"
            class="btn btn-primary btn-sm"
            ><i class="fa fa-plus fa-lg" title="Crear"> </i>
            </a>
        </td>
        <td>
            <a
            href = "{% url 'buscarSurf' %}"
            class="btn btn-primary btn-sm"
            ><i class="" title="Crear"> </i>
            </a>
        </td>
    </tr>    
</table>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>clases</th>
            <th>Valor</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for e in surf_list %}
        <tr>
            <td>{{e.id}}</td>
            <td>{{e.clases}}</td>
            <td>{{e.valor}}</td>
            <td>
                <a
                href="{% url 'surfUpdate' e.id %}"
                class="btn btn-primary"
                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                ><i class="fa fa-edit fa-sm" title="Edit Record"></i>
                </a>
                <a
                  href="{% url 'surfDelete' e.id %}"
                  class="btn btn-danger"
                  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                  ><i class="fa fa-trash fa-sm" title="Delete Record"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock contenido %}

